*{

margin:0;
padding:0;
box-sizing:border-box;

}



.dashboard{

height:100vh;

display:flex;

}



.menu{

width:260px;

background:#27348b;

color:white;

}



.contenido{

flex:1;

padding:40px;

}