*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:'Milliard', sans-serif;

    min-height:100vh;

    background:#f4f6fb;
}


.dashboard{
    width:100%;
    height:100vh;
    display:flex;
    background:#f4f6fb;
    min-height: 100vh;
}

.sidebar{

    width:260px;

    height:100vh;

    background:#27348b;

    padding:25px 18px;

    display:flex;

    flex-direction:column;


    position:fixed;

    left:0;

    top:0;

}



.logo_sidebar{
    display:flex;
    justify-content:center;
    padding-bottom:30px;
    margin-bottom:10px;
    border-bottom:1px solid rgba(255,255,255,0.15);
}

.logo_sidebar img{
    width:85px;
}

.active{
    background:#27348b;
}


nav{
    display:flex;
    flex-direction:column;
    gap:8px;
}


nav a{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    color:white;
    padding:12px 15px;
    border-radius:10px;
    font-size:14px;
    transition:.3s;
    cursor:pointer;
    transition:all .3s ease;
}


nav a:hover,
.logout a:hover{
    background:rgba(255,255,255,.15);
    transform:translateX(5px);
}

nav a img,
.logout img{
    width:18px;
    height:18px;
    object-fit:contain;
}

.logout{
    margin-top:auto;
    padding-top:25px;
    border-top:1px solid rgba(255,255,255,0.15);
}


.logout a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:12px 15px;
    color:white;
    text-decoration:none;
    border-radius:10px;
    cursor:pointer;
    transition:all .3s ease;
}

.span{
    color:#ffffff80;
    font-size:12px;
}


.content{

    margin-left:260px;

    flex:1;

    padding:30px 40px;

}

.header{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:35px;

}

.header-title h1{


    color:#27348b;

    font-size:28px;

    font-weight:700;

    letter-spacing:0;


}


.header-title p{


    margin-top:5px;


    color:#6b7280;


    font-size:15px;

}

.header-user{


    display:flex;

    align-items:center;

    gap:12px;
}

.avatar{

    width:38px;

    height:38px;

    background:#27348b;

    border-radius:50%;


    display:flex;

    justify-content:center;

    align-items:center;


    color:white;

    font-size:14px;

    font-weight:700;

}
.user-info{

    display:flex;

    flex-direction:column;

    gap:3px;

}

.user-info h4{

    font-size:14px;


    color:#111827;

}


.user-info span{


    font-size:12px;


    color:#6b7280;

}

.user-name{


    display:flex;


    align-items:center;


    gap:8px;

}



.user-name img{


    width:10px;

}

.notification{

    margin-right:15px;

}

.notification img{


    width:18px;


}

.cards{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

    margin-top: 25px;

}

.card{

    background:white;


    height:110px;


    border-radius:12px;


    padding:20px;


    display:flex;


    align-items:center;


    gap:18px;


    box-shadow:0 5px 20px rgba(0,0,0,.05);

    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

}

.card-icon{

    width:50px;

    height:50px;


    min-width:50px;


    border-radius:10px;


    display:flex;

    justify-content:center;

    align-items:center;

}

.card-icon img{

    width:24px;

    height:24px;

    object-fit:contain;

}

.card p{

    font-size:14px;

    font-weight:600;

    color:#111827;

}


.card h2{

    display:flex;

    align-items:flex-end;

    gap:8px;

    font-size:35px;

    font-weight:800;

    color:#111827;

}

.card span,
.card small{

    font-size:20px;

    color:#008000;

    margin-bottom:5px;

    font-weight:700;
    
}

.blue{

background:#0057ff;

}


.green{

background:#13a538;

}


.purple{

background:#673de6;

}


.yellow{

background:#facc15;

}

.input-manifiesto{

    border:none;
    outline:none;

    font-size:32px;
    font-weight:800;

    width:150px;

    color:#0f172a;

    background:transparent;

}

.operation{

    display:grid;

    grid-template-columns: 2fr 1fr 1.5fr;

    gap:20px;

    margin-top:25px;

}

.scanner-card{

    background:white;

    padding:25px;

    border-radius:14px;

    box-shadow:0 5px 20px rgba(0,0,0,.05);

}

.scanner-title{


    display:flex;


    align-items:center;


    gap:12px;


    margin-bottom:25px;

}


.scanner-title img{


    width:25px;

}



.scanner-title h3{


    color:#27348b;

}

.form-group{


    display:flex;


    flex-direction:column;


    gap:10px;


    margin-bottom:20px;

}



.form-group label{


    font-weight:700;

}




.input-scan{

    width:100%;

    height:45px;

    border:1px solid #d1d5db;

    border-radius:8px;

    display:flex;

    align-items:center;

    gap:10px;

    padding:0 15px;

}


.input-scan input{

    flex:1;

    height:100%;

    border:none;

    outline:none;

    background:transparent;

    font-size:14px;

}


.input-scan img{

    width:24px;

    height:24px;

}

.input-scan:focus-within{

    border:2px solid #27348b;

}

.input-scan span{

    color:#27348b;

    font-weight:700;

}


textarea{

    width:100%;

    height:70px;

    resize:none;

    border-radius:8px;

    border:1px solid #d1d5db;

    padding:15px;

    outline:none;

    font-size:14px;

}

textarea:focus{

    border:2px solid #27348b;

}

textarea:focus{
    border:2px solid #27348b;
}
.scanner-buttons{


    display:flex;


    gap:20px;

}



.scan-buttons button{


    height:45px;


    border-radius:8px;


    border:none;


    cursor:pointer;


    font-weight:700;

}


.btn-add{


    flex:2;


    height:45px;


    border:none;


    border-radius:8px;


    background:#27348b;


    color:white;


    font-weight:700;


    cursor:pointer;

}


.btn-clear{

    flex:1;

    height:45px;

    background:white;

    border:1px solid #d1d5db;

    border-radius:8px;

    font-weight:700;

    cursor:pointer;

}

.weight-card{

    background:white;

    border-radius:16px;

    padding:25px;

    box-shadow:0 8px 25px rgba(0,0,0,.06);

    display:flex;

    flex-direction:column;

    justify-content:space-between;

}



.weight-title{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:30px;

}


.weight-title img{

    width:26px;

}



.weight-title h3{

    color:#27348b;

    font-size:18px;

    font-weight:700;

}



.weight-box{

    height:150px;

    margin-top:10px;


    background:#f8fafc;


    border:1px solid #e5e7eb;


    border-radius:14px;


    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;


}


.weight-box h1{

    font-size:80px;

    font-weight:800;

    color:#111827;

}


.weight-box span{

    font-size:26px;

    font-weight:800;

    color:#111827;

}


.weight-card p{

    margin-top:20px;

    text-align:center;

    color:#6b7280;

    font-size:14px;

}  


.status{

    margin-top:20px;


    width:180px;

    align-self:center;


    padding:8px 15px;


    text-align:center;


    border-radius:30px;


    background:#dcfce7;


    color:#15803d;


    font-size:14px;


    font-weight:700;

}

.info-card{

    background:white;

    border-radius:14px;

    padding:30px;

    box-shadow:0 5px 20px rgba(0,0,0,.05);

}

.info-title{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:10px;

}

.info-title img{

    width:28px;

    height:28px;

}


.info-data{

    margin-top:35px;

    display:flex;

    flex-direction:column;

    gap:28px;

}

.found{

    color:#15803d;

    font-weight:700;

    margin-bottom:30px;

}


.info-data div{

    display:flex;

    justify-content:space-between;

    align-items:center;


    padding-bottom:12px;


    border-bottom:1px solid #eef0f5;

}


.info-data div:last-child{

    border-bottom:none;

}


.info-data span{

    background:#eef4ff;

    padding:5px 12px;

    border-radius:20px;

    color:#27348b;

    font-weight:700;

    font-size:14px;

}

.upload-section{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

    margin-top:25px;

}


.upload-card{

    background:white;

    border-radius:14px;

    padding:20px;

    display:flex;

    align-items:center;

    gap:25px;

    box-shadow:0 5px 20px rgba(0,0,0,.05);

}


.upload-card img{

    width:40px;

}


.upload-card h3{

    color:#27348b;

}


.upload-card p{

    color:#6b7280;

    margin-top:5px;

}


.upload-card label{

    margin-left:auto;   /* 🔥 ESTO LO EMPUJA A LA DERECHA */


    background:#27348b;

    color:white;


    padding:12px 25px;


    border-radius:10px;


    cursor:pointer;


    font-weight:700;


    transition:.3s;

}

.upload-card label:hover{

    background:#1e286d;

}

.file-loaded{

    color:#15803d;

    font-weight:600;

}

.table-card{

    background:white;

    margin-top:25px;

    padding:25px;

    border-radius:14px;

    box-shadow:0 5px 20px rgba(0,0,0,.05);

}



.table-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}



.table-title{

    display:flex;

    align-items:center;

    gap:12px;

}



.table-title img{

    width:25px;

}



.table-title h3{

    color:#27348b;

}



.table-actions{

    display:flex;

    gap:15px;

}




.table-actions button{

    padding:12px 25px;

    border-radius:8px;

    border:none;

    cursor:pointer;

    font-weight:700;

}



.btn-save{

    background:#16a34a;

    color:white;

}



.btn-export{

    background:#27348b;

    color:white;

}



table{

    width:100%;

    border-collapse:collapse;

}



thead{

    background:#111827;

    color:white;

}



th{

    padding:14px;

    text-align:left;

}



td{

    padding:14px;

}



tbody tr{

    border-bottom:1px solid #e5e7eb;

}



.delete-btn{

    background:#fee2e2;

    color:#dc2626;

    border:none;

    padding:8px 12px;

    border-radius:8px;

    cursor:pointer;

}



.table-count{

    margin-top:20px;

    color:#6b7280;

}

.delete-btn{

    width:35px;

    height:35px;

    border:none;

    border-radius:8px;

    background:#fee2e2;

    display:flex;

    align-items:center;

    justify-content:center;

    cursor:pointer;

    transition:.3s;

}


.delete-btn img{

    width:18px;

    height:18px;

    object-fit:contain;

}


.delete-btn:hover{

    background:#fecaca;

    transform:scale(1.05);

}

tbody tr{

    transition:.2s;

}


tbody tr:hover{

    background:#f8fafc;

    cursor:pointer;

}

.empty-row td{

    text-align:center;

    padding:35px;

    color:#6b7280;

    font-weight:600;

}


.empty-row:hover{

    background:white;

    cursor:default;

}


#listaManifiestos{

    margin-top:12px;

    display:flex;

    flex-direction:column;

    gap:10px;

}



.item-manifiesto{

    display:flex;

    justify-content:space-between;

    align-items:center;


    background:#f8fafc;


    padding:8px 12px;


    border-radius:10px;


    border:1px solid #e5e7eb;

}



.archivo-info{

    display:flex;

    flex-direction:column;

    gap:3px;

}

.archivo-info span{

    font-size:14px;

    font-weight:700;

}



.archivo-info img{


    width:24px;


}



.numeroManifiesto{


    width:90px;


    height:35px;


    border-radius:9px;


    text-align:center;


    font-weight:700;

}



.numeroManifiesto:focus{


    outline:none;


    border-color:#27348b;


}

