*{
    margin:0;
    padding:0;

    box-sizing:border-box;
    font-family: 'Milliard', sans-serif;
}

:root{

    --login-width:180px;

}


.logo_web{
    width: 200px;
}

.background{

    background:#27348b;

    min-height:100vh;


    display:flex;

    justify-content:center;

    align-items:center;

}

.login-card{


    width:450px;

    padding:50px;


    display:flex;

    flex-direction:column;

    align-items:center;



    background:rgba(255,255,255,0.10);



    backdrop-filter:blur(15px);

    -webkit-backdrop-filter:blur(15px);



    border-radius:25px;


    border:1px solid rgba(255,255,255,0.25);



    box-shadow:

    0 8px 32px rgba(0,0,0,0.25);


}


.login-container{

    display:flex;
    flex-direction:column;
    align-items:center;
}



.logo_login{

    width:180px;
    height:auto;
    margin-bottom:40px;
}

.login-form{

    width:350px;
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
}


.input-box{

    width:300px;

    height:50px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    border:1px solid rgba(255,255,255,0.5);

    border-radius:30px;

    padding:0 20px;

}



.input-box i{

    color:white;

    font-size:18px;

}


.input-box input{

    width:100%;

    background:transparent;

    border:none;
    outline:none;


    color:white;

    font-size:15px;

}

.input-icon{

    width:20px;

    height:20px;

    object-fit:contain;

}

.input-box input::placeholder{

    color:white;

}

.input-box:focus-within{

    border:2px solid white;

    box-shadow:0 0 15px rgba(255,255,255,0.25);

}

.btn-login{

    margin-top:15px;

    width:var(--login-width);

    height:50px;

    border-radius:30px;

    border:none;

    background:white;

    color:#27348b;

    font-weight:700;

    cursor:pointer;

}

.btn-login:hover{

    background:#ffd028;

    box-shadow:0 8px 20px rgba(0,0,0,0.25);

    transform:translateY(-3px);

}

