# Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
.env

# Archivos temporales
*.log

# VS Code
.vscode/

# Exportaciones
Exports/excel/*
Exports/pdf/*

!Exports/excel/.gitkeep
!Exports/pdf/.gitkeep

# Archivos cargados
Uploads/manifiestos/*
Uploads/casilleros/*

!Uploads/manifiestos/.gitkeep
!Uploads/casilleros/.gitkeep

# Windows
Thumbs.db
Desktop.ini